.header{
  background-color: #abdbf7;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #000 ;
  &__left{
    line-height: 50px;
    margin-left: 15px;
  }
  &__right{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    height: 50px;
  }
}